exportPattern("^[[:alpha:]]+")
export(
  search_businesses,
  get_all_businesses,
  create_word_cloud,
  create_geo_heatmap,
  analyze_business_sectors,
  analyze_cities
)
import(
  httr,
  jsonlite,
  dplyr,
  ggplot2,
  tools,
  plotly,
  stringr,
  RColorBrewer,
  wordcloud2
)
